
.apply-button-wrapper{
     display:none;
}

.nl-submit-button {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

.company-detail-component-switcher-item:not(:first-of-type) {
     margin-left: 3rem;
 }

 .company-detail__basic-tag:not(:first-of-type) {
     margin-left: 2.5rem;
 }

 .company-detail-page-inner:not(:first-of-type) {
     margin-top: 30px;
 }

 .company-breadcrumb-list-breadcrumbs .breadcrumb:not(:last-of-type):after {
     content: ">";
     margin-left: 12px;
     font-size: 12px;
     font-weight: 600;
     color: #7d97ad;
     margin-top: 0;
     font-family: 'Open Sans';
 }
 
 .company-detail-page-inner:last-of-type {
     margin-bottom: 30px;
 }

 .extra-info-item::before {
          content: "\30fb";
 }

.button-filter {
     margin-bottom: 20px;
 }
.ais-Panel {
     margin-bottom:0px;
}

.collection-item{
     flex-grow:1;
}

.ais-Hits-item {
display:flex;
border:none;
box-shadow: none;
padding:0;
position: relative;
}

.ais-Pagination-list {
     justify-content: center;
}

.ais-RefinementList-list {
     display: flex;
    flex-wrap: wrap;
}

.ais-RefinementList-item {
          display: block;
          font-size: .675rem;
          line-height: 1.75rem;
          flex-grow: 1;
          max-width: 50%;
}

.ais-RefinementList-item {
     max-width: calc(50% - 0.25rem);
     width: calc(50% - 0.25rem);
 }

.ais-RefinementList-showMore {
     background: rgba(0,0,0,0);
     margin-top: 1rem;
     font-size: 12px;
     font-weight: 500;
     border: 1px solid #BDC4D7;
     color: #031b4e;
     letter-spacing: 1.2px;
     user-select: none;
 }

.ais-RefinementList-showMore:hover {
     background: whitesmoke;
     transform: translateY(-1px);
}

.ais-Pagination-item--selected .ais-Pagination-link {
     background: #055eff;
     border-color: #055eff;
     box-shadow:none;
     color: #fff!important;
 }

 .ais-Pagination-item+.ais-Pagination-item>.ais-Pagination-link {
     padding: .3rem .6rem;
     display: block;
     border: 1px solid #e4e8ec;
     border-radius: 5px;
     -webkit-transition: background-color .2s ease-out;
     transition: background-color .2s ease-out;
     color:#055eff;
 }
 

 .ais-Pagination-item+.ais-Pagination-item {
     margin-left: .3rem;
 }

 .ais-Pagination-item--disabled .ais-Pagination-link {
     opacity: .6;
     cursor: not-allowed;
     color: #a5abc4;
 }

 .ais-Pagination-item--selected .ais-Pagination-link:hover, .ais-Pagination-item--selected .ais-Pagination-link:focus {
     color: #fff;
     background: #055eff;
     border-color: #055eff;
 }

 .ais-Pagination-link:hover {
     background-color: #f8f8f8;
 }

 .ais-ClearRefinements-button {
    background: rgba(0,0,0,0);
    margin-top: 1rem;
    font-size: 12px;
    font-weight: 500;
    border: 1px solid #BDC4D7;
    color: #031b4e;
    letter-spacing: 1.2px;
    user-select: none;
 }

 .ais-ClearRefinements-button:disabled[disabled], .ais-ClearRefinements-button:hover{
      background-image: none;
 }

 .ais-RefinementList-item--selected>div>.filter{
      background-color: #f0f6ff;
      border-color:#055eff;
 }
.ais-SearchBox-input{
     border: 1px solid #e4e8ec;
     border-radius: 5px;
     box-shadow: none;
     font-family: 'Source Sans Pro', sans-serif;
}



@media screen and (max-width: 991px) {

}

@media screen and (max-width: 767px) {
 
}

@media screen and (max-width: 479px) {
   
}

@media (min-width: 768px) {
   
}


/* Job Details Page */ 
/*.job-detail-summary-list li:not(:first-of-type):before */
.job-detail-summary-list li:before {
     content: url(https://uploads-ssl.webflow.com/631107a8174c7590965ee1ef/633acbce3e2ee807c54405a9_mid_dot.svg);
     position: relative;
     top: 5px;
     font-size: 24px;
     margin-right: .5rem;
 }